<a href="/">home</a><br>

  <ul id="trip_header">
    <li><%= @trip.title %></li>
    <a href='/trips/<%=@trip.id%>/wishlist' class='wishlist button'>Wishlist Button</a>
    <li>Wishlist: <%= @trip.wishlist %></li>

    <li>Shared by:
      <a href="/users/<%=@trip.user.id%>"><%= @trip.user.username %></a>
    </li>

    <li>category: <%= @trip.category %></li>
    <li>season: <%= @trip.season %></li>
    <li>comments: <%= @trip.comments %></li>
  </ul>


<div id="accordion">
  <% @trip.destinations.each do |destination| %>
    <h3><%= render_dest_header(destination) %></h3>
    <div>
      <p><a href="/trips/<%= @trip.id %>/destinations/<%= destination.id %>">view destination details</a></p>
      <p>Highlights: <%= destination.highlights %></p>
      <p>Lodging: <%= destination.lodging %></p>
      <p>Transportation: <%= destination.transportation %></p>
      <br>
    </div>
  <% end %>
</div>

<!--http://inspirationalpixels.com/tutorials/creating-an-accordion-with-html-css-jquery-->

<script type="text/javascript">
$( "#accordion" ).accordion();
</script>
