
  <a href="/">home</a><br>

  <ul id="trip_header">
  <li><%= @trip.title %></li>
  <li>Shared by: <a href="/users/<%=@trip.user.id%>"><%= @trip.user.username %></a></li>

  <li>category: <%= @trip.category %></li>
  <li>season: <%= @trip.season %></li>
  <li>comments: <%= @trip.comments %></li>
  </ul>

  <% @trip.destinations.each do |destination| %>

  <ul id="accordion">
    <li>
      <a href="#trips>"><%= destination.city %>, <%= destination.city %></a>

        <li>Highlights: <%= destination.highlights %></li>
        <li>Lodging: <%= destination.lodging %></li>
        <li>Transportation: <%= destination.transportation %></li>
      </li>
    </ul>

  <% end %>

<form action="/trips/<%= @trip.id %>/destinations/new" method="get">
  <input type="submit" value="Add city!">
</form>

<!--http://inspirationalpixels.com/tutorials/creating-an-accordion-with-html-css-jquery-->