<div class="trip-show">

    <div class="trip-header-element">
      <%= @trip.title %>
    </div>





    <form action="/wishlists" method="post">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Favorite!
      </button>
     </form>






    <div class="trip-header-element">
      Shared by: <a href="/users/<%=@trip.user.id%>"><%= @trip.user.first_name %> <%= @trip.user.last_name %></a>
    </div>

    <div class="trip-header-element">
      category: <%= @trip.category %>
    </div>

    <div class="trip-header-element">
      season: <%= @trip.season %>
    </div>

    <div class="trip-header-element">
      comments: <%= @trip.comments %>
    </div>
  </div>

  <div class="destination-show">
    <div id="accordion">
      <% @trip.destinations.each do |destination| %>
        <h3><%= render_dest_header(destination) %></h3>
        <div>
          <p><a href="/trips/<%= @trip.id %>/destinations/<%= destination.id %>">view destination details</a></p>
          <p>Highlights: <%= destination.highlights %></p>
          <p>Lodging: <%= destination.lodging %></p>
          <p>Transportation: <%= destination.transportation %></p>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--http://inspirationalpixels.com/tutorials/creating-an-accordion-with-html-css-jquery-->

<script type="text/javascript">
$( "#accordion" ).accordion({
  collapsible: true
});
</script>
