<div class="container">
  <h1><%= @trip.title %></h1>
  <p><%= @trip.category %></p>
  <p><%= @trip.season %></p>
  <p><%= @trip.comments %></p>
  <p><%= @trip.photo %></p>

  <p><%= @city.city %></p>
  <p><%= @city.country %></p>
  <p><%= @city.days %></p>
  <p><%= @city.highlights %></p>
  <p><%= @city.lodging %></p>
  <p><%= @city.transportation %></p>
</div>

<form action="/trips/:id/city/new" method="get">
<input type="submit" value="Add a city!">
</form>